.create-event {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    width: toRem(300);
}

.create-event__actions {
    display: flex;
    justify-content: space-between;
}

.create-event__inputs {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    width: 100%;
    align-items: center;
}